on:
  pull_request:
  push:
    branches:
      - master

name: Test
jobs:
  test:
    strategy:
      matrix:
        go-version: [1.20.x, 1.24.x, 1.25.x]
        os: [ubuntu-latest, macos-latest, windows-latest]
    runs-on: ${{ matrix.os }}
    steps:
    - name: Install Go
      uses: actions/setup-go@v6
      with:
        go-version: ${{ matrix.go-version }}
    - name: Checkout code
      uses: actions/checkout@v6
    - name: Test
      run: go test -v ./...
